# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# User-specific files
*Supplier/Supplier.csproj
*filetext/filetext.csproj
*UTS_Pemrograman.sln

# User-specific folders
filetext/bin/
filetext/obj/
Supplier/bin/
Supplier/obj/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode